<div ng-controller="UserFinderCtrl" class="container">
    <h1>My User Finder</h1>
    <div class="row">
      <div class="input-group custom-search-form">
      <input type="text" class="form-control" ng-model="searchText">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
      </div><!-- /input-group -->
    </div>
    <table class="table table-condensed">
    <tr>
      <th>#</th>
      <th>Uid</th>
      <th>User</th>
      <th>Mail</th>
      <th>Created</th>
      <th>Last Login</th>
      <th>Detalles</th>
    </tr>
    <tr ng-repeat="user in users | orderObjectBy:'name' | filter:searchText ">
      <td>{{$index + 1}}</td>
      <td>{{user.uid}}</td>
      <td >{{user.name}}</td>
      <td>{{user.mail}}</td>
      <td>{{user.created * 1000| date:'shortDate'}}</td>
      <td>{{user.login * 1000 | date:'shortDate'}}</td>
      <td><a href="#/user/{{user.uid}}">Ver</a></td>
    </tr>
    </table>
</div>
